
@model Book.Models.SellBookModel

<h2>Order '' @Model.Name  ''</h2>

@*<div>
        <h4>Book</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                Available Copy
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>

        </dl>
        <label>Povide Address </label>
        <input type="text" /><br /><br />
        <label>Quantity</label>
        <input />

        <br />
        <br />

        <a>Confirm Order</a>
    </div>
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pizza Order</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/pizzaorder/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/animate.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/style.css" />

    <style>
        .foodImg img {
            width: 100%;
            height: 450px;
            border-radius: 3px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, .5);
        }

        .tbl_col {
            background: #ff2a6b;
            color: white;
        }

        .foodTag p {
            font-size: 18px;
        }

        .btnD:hover {
            background-color: #ff2a6b;
            border: none;
        }

        .header-search a {
            width: 50px;
        }
    </style>

</head>
<body>

    <!-- Header section -->
    <header class="header-section">

        <div class="header-bottom">
            <div class="container">

                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="header-search">
                    <a href="@Url.Action("checkout", "Home")">

                        <i class="fa fa-cart-plus"></i>

                        @if (ViewData["cartto"] == null)
                        {

                            <span>(0)</span>
                        }
                        else
                        {

                            <span> (@ViewData["cartto"])</span>

                        }

                    </a>
                </div>

            </div>
        </div>
    </header>
    <!-- Header section end -->
    <!--Food details start-->

  
        <form method="post" class="login-form" enctype="multipart/form-data">
            <div class="fooddetails">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <div class="foodTag">
                                <p>Details of Book</p>
                                <hr>
                            </div>
                        </div>

                        <div class="col-md-2">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-4">
                            <div class="foodImg">
                                <img src="~/images/Book_cover/@Model.ProfilePicUrl" alt="">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <table class="table table-bordered">
                                <tr>
                                    <th class="tbl_col">Name:</th>
                                    <td>@Model.Name </td>
                                </tr>

                                <tr>
                                    <th class="tbl_col">Author:</th>
                                    <td class="text-justify">@Model.Author</td>
                                </tr>

                                <tr>
                                    <th class="tbl_col">Price:</th>
                                    <td>@Model.Price</td>
                                </tr>
                                <tr>
                                    <th class="tbl_col">Quantity</th>
                                    <td><input type="number" value="1" name="qty" id="qty" min="1" max="10"> </td>
                                </tr>
                            </table>
                            <input type="submit" value="Add to Cart" class="btn btn-primary" />
                        </div>

                        <div class="col-md-2">

                        </div>
                    </div>
                </div>

            </div>
            </form>
            <!--Food details end-->
            <!--====== Javascripts & Jquery ======-->
            <script src="~/Content/pizzaorder/js/jquery-3.2.1.min.js"></script>
            <script src="~/Content/pizzaorder/js/owl.carousel.min.js"></script>
            <script src="~/Content/pizzaorder/js/main.js"></script>
    </body>
</html>